body{
	padding-top: 50px;
}


.navbar-icon-container{
	background-color: red;
	height: 50px;
	width: 50px;
}

.navbar-list-container{
	background-color: yellow;
	height: 50px;
}

.navbar-right-section-container{
	background-color: blue;
	height: 50px;
	width: 370px;
}

.main-section{
	background-color: red;
	min-height: 1030px;
}

.main-image{
	background-color: blue;
	min-height: 530px;
}

.test{
	background-color: red;
	margin-left: 15px;
}

.main-headline{
	background-color: yellow;
	min-height: 200px;
	padding-right: 10px;
	text-align: center;
}

.side-advertisement{
	background-color: blue;
}

.sidebar{
	background-color: green;
	min-height: 530px;
}


.second-headline{
	background-color: pink;
	min-height: 560px;
}

.other-articles{
	background-color: green;
	min-height: 800px;
}

.advertisement-block{
	background-color: blue;
	min-height: 100px;
}

.in-the-magazine{
	background-color: green;
	min-height: 480px;
}

.big-shots{
	background-color: blue;
	min-height: 560px;
}

.subscription-block{
	background-color: yellow;
	min-height: 700px;
}

.most-read-block{
	background-color: pink;
	min-height: 700px;
}

footer{
	background-color: orange;
	min-height: 600px;
}

/* MISC */

.clear{
	clear: both;
}