body{
	padding-top: 60px;
}

.navbar{
	height: 60px;
}

.navbar-icon-container{
	background-color: red;
	height: 60px;
	width: 60px;
	background: url("../pics/sprite-logo.svg") -272px 13px/442px no-repeat #FF0500;
}

.navbar-list-container{
	height: 60px;
	color: white;
	padding-top: 20px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 12px;
}

.list-inline li{
	text-transform: uppercase;
	padding-left: 10px;
	letter-spacing: 2px;
}

.list-inline li a{
	color: white;
}

.list-inline li a:hover{
	text-decoration: none;
	color: grey;
}

.navbar-right-section-container{
	height: 60px;
	width: 360px;
	color: white;

}

.navbar-image-subscribe-icon{
	border-radius: 50px;
}

.navbar-image-container{
	padding-top: 10px;
}

.navbar-text-container{
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
}

.navbar-text-container p{
	margin-top: -5px;
}

.subscribe-text{
	color: yellow;
	font-weight: bold;
}

.row .right-section > div{
	height: 60px;
	border-left: 1px solid grey;
}

.row .right-section > div:hover{
	cursor: pointer;
	border-bottom: 5px solid red;
}

.row .right-section > div div:hover{
	opacity: 0.5;
}

.navbar-geolocation-container{
	
}

.geolocation-icon{
	background-image: url("../pics/sprite.png");
	background-size: 315px;
	background-repeat: no-repeat;
	background-position: -1px -251px;
	width: 80px;
	height: 60px;
	margin-left: 
}

.navbar-signin-container{
	padding-top: 20px;
	text-align: center;
}

.signin-text{
	font-weight: bold;
}
.main-section{
	min-height: 1030px;
}

.main-section-container{
	border-bottom: 1px solid grey;
}

/* Headline */

.left-section-container{
	background-color: white;

}

.left-section-container img{
	margin-top: 1px;
	margin-left: -15px;
	width: 103%;
	height: auto;

	border-bottom: 5px solid red;
}

.headline-info-container{
	margin-left: 10px;
	border-bottom: 1px solid grey;
}

.main-headline-info-container{
	margin-top: 10px;

}

.tag{
	font: 800 20px/15px arial, sans-serif;
	color: red;

}

.headline-title{
	font: 900 40px/40px "Times New Roman";
	text-transform: uppercase;
}

.headline-description{
	font: 20px/25px arial;
	color: grey;
}

.main-headline-list li{
	text-align: center;
}

.related-article a{
	color: black;
}

.related-article a:before{
	content: "";
	width: 8px;
	height: 8px;
	background-color: blue;
	display: inline-block;
	position: static;
	margin-right: 10px;

}

/* Secondary Articles */

.secondary-articles img{
	border-bottom: none;
}

.secondary-articles{
	margin-top: 15px;
}

.secondary-articles .left-section{
	border-right: 1px solid grey;
	margin-top: 15px;
}
.secondary-articles img{
	margin-left: -5px;
}


.articles-list{
	margin-top: 15px;
	margin-bottom: 70px;
}
.articles-list li{
	text-align: center;
}

.articles-list .tag{
	font-size: 16px;
	text-transform: uppercase;
}

.articles-list .tag:hover{
	color: red;
}

.blue{
	color: blue;
}

.articles-list .title{
	font: bolder 26px/28px "Source Sans Pro", Arial, Helvetica, sans-serif;
	color: black;
}

.articles-list p{
	margin-top: 10px;
	color: #666;
}

.articles-list .related-article{
	color: black;
}

.articles-list .related-article:before{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: blue;
	margin-right: 10px;
}
/* Sidebar */

.sidebar-content-container{
	margin-left: 15px;
	margin-top: 20px;
}

.sidebar-content-container p{
	font: 21px/22px Georgia, "Times New Roman",Times,serif;
	text-transform: uppercase;
	color: red;
	margin-left: -15px;
}

.latest-headlines-list{

}

.latest-headlines-list-item{
	border-bottom: 1px solid grey;	
	margin-left: 10px;
	display: block;
	width: 270px;
	margin-left: -20px;
}

.latest-headlines-list-item:last-of-type{
	border-bottom: none;
}

.latest-headlines-list-item a{
	font-weight: bold;
	padding-left: 10px;
	height: 50px;
	width: 250px;
	display: block;
	margin-top: 10px;
	margin-left: 15px;
	color: black;
}

.latest-headlines-list-item:before{
	content: "";
	display: block;
	position: relative;
	left: 5px;
	top: 22px;
	background-color: red;
	width: 8px;
	height: 8px;
}

.see-all-headlines-button{
	background-color: grey;
	width: 100%;
	height: 50px;
	text-align: center;
}

.see-all-headlines-button:hover{
	cursor: pointer;
}

.see-all-headlines-text{
	display: block;
	position: relative;
	top: 15px;
	font-size: 13px;
	color: white;
}


/* Other Articles Section */

.other-articles img{
	width: 100%;
	height: auto;

	margin-top: 15px;
}

.other-articles .article-border-right{
	border-right: 1px solid black;
}

.articles-list div, .articles-list h3{
	text-align: center;
}

.articles-list h3{
	margin-top: -3px;
}

.sponsored{
	border: 1px solid blue;
	margin-bottom: 5px;
}

.padding-left{
	padding-left: 10px;
}

/* Advertisement Block CSS */

.advertisement-block{
	min-height: 100px;
	margin-top: 30px;
	padding-left: 70px;
	margin-bottom: 30px;
}

.advertisement-text{
	text-align: center;
	text-transform: uppercase;
	color: grey;
	font-size: 11px;
	display: block;
}

/* In The Magazine Section CSS */



.in-the-magazine{
	min-height: 480px;
}

.magazine-container{
	background-color: blue;
}

.deco{
	display: block;
	content: "";
	width: 100%;
	height: 3px;

	position: absolute;

	top: 15px;
	background-color: red;
	
	z-index: -1;
}

.title-container .header{
	text-align: center;
}

.title-container .text{
	color: red;
	display: inline-block;

	font: 21px/22px Georgia,"Times New Roman",Times,serif;
	text-transform: uppercase;

	background-color: #fff;
	padding: 0 20px;
}

.margin-top{
	margin-top: 15px;
}

/* Big shot section */

.big-shots{
	background-color: #444;
	min-height: 560px;
}

.big-shot-portrait{
	width: 300px;
	height: 280px;
	background-color: green;

	margin-top: 20px;
}

.information{
	margin-left: 100px;
}

.information p{
	color: white;
}

.information .title{
	color: blue;
}

.launch-slideshow-button{
	width: 200px;
	height: 50px;

	background-color: blue;

	margin-bottom:10px;
}

.launch-slideshow-button p{
	text-align: center;
	position: relative;
	top: 15px;

	font-weight: bolder;
}

.big-shots .bullet:before{
	content: "";
	width: 8px;
	height: 8px;

	display: inline-block;
	background-color: blue;
	position: relative;

	margin-right: 10px;
}

.big-picture{
	
	padding: 20px 20px;
}
.big-picture img{
	width: 100%;
	height: auto;
}

/* This week section */

.subscription-block{
	background-color: #fff;
	min-height: 700px;
}

.btn-label{
	position: relative;
	width: 142px;
	height: 10px;
	margin: 10px auto;
	font-weight: 700;
	font-size: 14px;
	line-height: 10px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;

	margin-top: 30px;
}

.btn-label label{
	display: block;
	
	
}

.btn-label label:before{

	box-sizing: border-box;
	content: "";
	display: block;
	left: 0;
	right: 0;
	position: absolute;

	
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom-color: #FF0500;
	top: -10px;
	
}

.btn-label label:after{
	box-sizing: border-box;
	content: "";
	display: block;
	left: 0;
	right: 0;
	position: absolute;

	border-top: 10px solid transparent;
	border-top-color: #FF0500;
	border-right: 10px solid transparent;
	bottom: -10px;

}

.btn-label.issue label span{
	background-color: #FF0500;
	color: #fff;

	font-family: "Source Sans Pro",Arial, Helvetica,sans-serif;
}

.btn-label label span{
	display: block;
}


.row time{
	display: block;
	font-size: 42px;
	line-height: 42px;

	font-weight: bold;
	text-transform: uppercase;

	text-align: center;
	padding-top: 10px;
}



/* Code for row equal heights */
/*
.row-eq-height{
  overflow: hidden;
}

.row-eq-height > [class*='col-'] {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
*/

	/* flexbox solution */

	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	  border-bottom: 1px solid black;
	}
	.row-eq-height > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}


/* I.P */



.most-read-block{
	background-color: pink;
	min-height: 700px;
}

footer{
	background-color: orange;
	min-height: 600px;
}

/* MISC */

.clear{
	clear: both;
}