body{
	padding-top: 60px;
}

.navbar{
	height: 60px;
}

.navbar-icon-container{
	background-color: red;
	height: 60px;
	width: 60px;
	background: url("../pics/sprite-logo.svg") -272px 13px/442px no-repeat #FF0500;
}

.navbar-list-container{
	height: 60px;
	color: white;
	padding-top: 20px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 12px;
}

.list-inline li{
	text-transform: uppercase;
	padding-left: 10px;
	letter-spacing: 2px;
}

.navbar-right-section-container{
	height: 60px;
	width: 360px;
	color: white;

}

.navbar-image-subscribe-icon{
	border-radius: 50px;
}

.navbar-image-container{
	padding-top: 10px;
}

.navbar-text-container{
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
}

.navbar-text-container p{
	margin-top: -5px;
}

.subscribe-text{
	color: yellow;
	font-weight: bold;
}

.row .right-section > div{
	height: 60px;
	border-left: 1px solid grey;
}

.row .right-section > div:hover{
	cursor: pointer;
	border-bottom: 5px solid red;
}

.row .right-section > div div:hover{
	opacity: 0.5;
}

.navbar-geolocation-container{
	
}

.geolocation-icon{
	background-image: url("../pics/sprite.png");
	background-size: 315px;
	background-repeat: no-repeat;
	background-position: -1px -251px;
	width: 80px;
	height: 60px;
	margin-left: 
}

.navbar-signin-container{
	padding-top: 20px;
	text-align: center;
}

.signin-text{
	font-weight: bold;
}
.main-section{
	background-color: red;
	min-height: 1030px;
}

.main-image{
	background-color: blue;
	min-height: 530px;
}

.test{
	background-color: red;
	margin-left: 15px;
}

.main-headline{
	background-color: yellow;
	min-height: 200px;
	padding-right: 10px;
	text-align: center;
}

.side-advertisement{
	background-color: blue;
}

.sidebar{
	background-color: green;
	min-height: 530px;
}


.second-headline{
	background-color: pink;
	min-height: 560px;
}

.other-articles{
	background-color: green;
	min-height: 800px;
}

.advertisement-block{
	background-color: blue;
	min-height: 100px;
}

.in-the-magazine{
	background-color: green;
	min-height: 480px;
}

.big-shots{
	background-color: blue;
	min-height: 560px;
}

.subscription-block{
	background-color: yellow;
	min-height: 700px;
}

.most-read-block{
	background-color: pink;
	min-height: 700px;
}

footer{
	background-color: orange;
	min-height: 600px;
}

/* MISC */

.clear{
	clear: both;
}